* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.app-container {
    display: flex;
    gap: 1.25rem;
}

.addBtn {
    width: 100%;
    display: flex;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
}

.bill-split {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 1px black;
    padding: 2rem;
    background-color: lightcoral;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px black;

    h1 {
        font-size: 1.5rem;
        color: black;
    }

    input {
        border: solid 0.5px black;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        width: 10rem;
    }

    select {
        border: solid 0.5px black;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        background-color: white;
        margin: auto;
        width: 10rem;
    }

    p {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        border: solid 0.5px black;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        background-color: white;
        margin: auto;
        width: 10rem;
        background-color: orange;
        font-weight: bold;
    }

    .button {
        text-align: end;
        margin: 0.5rem;
    }
}

.add-friend {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px black;
    padding: 2rem;
    background-color: salmon;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px black;

    p {
        margin: 0.25rem;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            float: right;
            width: 8rem;
        }

        button {
            border: solid 0.5px black;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: white;
            margin: 1.25rem 0;
            width: 8.5rem;
            background-color: orange;
            font-weight: bold;
        }

        .btn {
            width: 100%;
            text-align: end;
        }
    }
}

/* ==================== Friend List and Profile Component ==================== */

.friend-list {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    gap: 1rem;
    border: solid 1px black;
    padding: 1rem 0.25rem;
    background-color: salmon;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px black;
}

.list {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.friend {
    display: flex;
    align-items: center;
    width: 100%;

    border-radius: 1rem;
    font-size: 0.75rem;

    gap: 1rem;

    img {
        border-radius: 50%;
    }

    .profile-stats {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}
button {
    border: solid 0.5px black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    margin: 1.25rem 0;
    width: 8.5rem;
    background-color: orange;
    font-weight: bold;
}
